.iconview{
    display:inline-block;
    padding:4px;
}

.iconviewfield {
    border: 1px #bac3dc solid;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    line-height: 24px;
    vertical-align: middle;
    text-align: center;
}

.cont-iconsm{
    position:absolute;
    right:10%;
    top:10px;
}

.icon-socmed:hover{
    color:white;
}